/* src/app/globals.css */

/* 1. Reset global para que el padding no rompa los anchos */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* IMPORTANTE: Borramos la línea de font-family de aquí.
       Ahora la letra la controla Next.js desde tu layout.jsx */
}

/* 2. REGLA CLAVE: Hacer que los formularios usen la misma letra */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* Esto obliga a usar Inter (o la que tengas en layout) */
}

/* Opcional: Para asegurar que los títulos también hereden */
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}